<% content_for(:header) do %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.2/wavesurfer.min.js"></script>
  <script>console.log('me')</script>
<% end %>

<div id="waveform"></div>
